    <div id="left-nav">
      <ul>
        <li>
          <details {% if page.url contains "/HappyCoding/tutorials" %}open{% endif %}>
            <summary>{% include left-nav-link.html url="/HappyCoding/tutorials" %}</summary>
            <ul>
              {% include left-nav-section.html title="p5.js" url="/HappyCoding/tutorials/p5js" %}
              {% include left-nav-section.html title="HTML" url="/HappyCoding/tutorials/html" %}
              {% include left-nav-section.html title="JavaScript" url="/HappyCoding/tutorials/javascript" %}
              {% include left-nav-section.html title="Processing" url="/HappyCoding/tutorials/processing" %}
              {% include left-nav-section.html title="Java" url="/HappyCoding/tutorials/java/" %}
              {% include left-nav-section.html title="Java Server" url="/HappyCoding/tutorials/java-server" %}
              {% include left-nav-section.html title="Google Cloud" url="/HappyCoding/tutorials/google-cloud" %}
              {% include left-nav-section.html title="Android" url="/HappyCoding/tutorials/android" %}
              {% include left-nav-section.html title="LibGDX" url="/HappyCoding/tutorials/libgdx" %}
              {% include left-nav-section.html title="How-To Guides" url="/HappyCoding/tutorials/how-to" %}
            </ul>
          </details>
        </li>
        <li><hr></li>
        <li>
          <details {% if page.url contains "/examples" %}open{% endif %}>
            <summary>{% include left-nav-link.html url="/HappyCoding/examples" %}</summary>
            <ul>
              {% include left-nav-section.html title="p5.js" url="/HappyCoding/examples/p5js/" %}
              {% include left-nav-section.html title="HTML" url="/HappyCoding/examples/html/" %}
              {% include left-nav-section.html title="JavaScript" url="/HappyCoding/examples/javascript/" %}
              {% include left-nav-section.html title="Processing" url="/HappyCoding/examples/processing/" %}
              {% include left-nav-section.html title="Java" url="/HappyCoding/examples/java/" %}
              {% include left-nav-section.html title="Java Server" url="/HappyCoding/examples/java-server/" %}
              {% include left-nav-section.html title="Google Cloud" url="/HappyCoding/examples/google-cloud/" %}
            </ul>
          </details>
        </li>
        <li><hr></li>
        <li>{% include left-nav-section.html title="Gallery" url="/HappyCoding/gallery/" %}</li>
        <li><hr></li>
        <li>{% include left-nav-section.html title="Blog" url="/HappyCoding/blog/" %}</li>
        <li><hr></li>
        <li><a href="https://forum.happycoding.io">Forum</a></li>
      </ul>

      <hr>
      <div class="left-nav-social-icons">
        <a href="https://twitter.com/TheKevinWorkman">
          <img class="nav-img" src="/images/twitter.png" alt="twitter"/></a>
        <a href="https://github.com/KevinWorkman/HappyCoding">
          <img class="nav-img" src="/images/GitHub-Mark-32px.png" alt="github" /></a>
        <div style="flex-basis: 100%"></div>
        <a href="https://www.etsy.com/shop/HappyCoding">
          <img class="nav-img" src="/images/etsy.png" alt="etsy" /></a>
        <a href="https://youtube.com/TheKevinWorkman">
          <img class="nav-img" src="/images/youtube.png" alt="youtube" /></a>
        <a href="/feed.xml">
          <img class="nav-img" src="/images/rss.png" alt="RSS" /></a>	
      </div>
    </div>